body
{
margin: 0;
background-color: #660000;
color:#ffcccc;
font-size:15px;
font-family: Arial, Helvetica, Verdana, sans-serif;
}

h1.logo
{
font-size: 30px;
color:aliceblue;
text-align:left;
letter-spacing:2px;
margin-top:30px;
margin-left: 30px;
float:left;
text-decoration:none;
}

h1.logo a
{
color:whitesmoke;
text-decoration: none;
}

nav
{
background-color:black;
text-align: right;
background-image: url("images/betaczerw.jpg");
}

.menu
{
margin:0;
padding:25px;
list-style-type:none;
font-size:20px;
line-height:250%;
}

.menu > li
{
display: inline-block;
padding-left:35px;
padding-right:35px;
border-right: 2px dashed grey;

}

.menu > li:first-child
{
border-left: 2px dashed grey;
}

.menu a:hover

{
color:brown;
}

.menu a
{
color:whitesmoke;
text-decoration: none;
}

.menu2 {
display: flex;
justify-content: space-around;
list-style: none;
margin: 0;
padding: 0;
}

h1
{
font-size:30px;
color:whitesmoke;
}

.sekcje
{
padding: 50px;
max-width:1230px;
margin: 0 auto;
}
.galeria
{
display: flex;
}
.eventy
{
display: block;
width: 33%;
}

@media only screen and (max-width: 900px) {
.galeria
{
display: flex;
flex-direction: column;
align-items: center;
}
.eventy {
    width: 100%;
    margin: 20px 0;
}
}

.eventy img {
width: 100%;
padding: 0 25px;
box-sizing: border-box;
}

.font-size1
{
font-size:20px;    
}

#aktualnosci
{
margin:10px;
background: rgb(226,44,44);
background: radial-gradient(circle, rgba(226,44,44,1) 0%, rgba(126,4,28,1) 100%);
padding:20px;
font-size:30px;
border-radius:30px;
list-style-type:none;
}

#aktualnosci a
{
color:whitesmoke;
text-decoration: none;
}

#aktualnosci h2
{
margin: 0 0 20px;
}

h2
{
text-align:center;<
text-shadow: 2px 2px 2px darkred;
}

#aktualnosci a:hover

{
color:brown;
}

footer
{
background-color:black;
list-style-type:none;
padding: 20px;
margin-bottom:1px;

}

#mail
{
list-style: none;
margin: 0;
padding: 0;
padding-bottom: 10px;
}

#mail li {
margin: 5px 0;
}

.prawa
{
padding-right:10px;
}

.prawa p
{
margin: 0;
padding: 0;
}

#zegarek
{
margin-bottom: 10px;
}

.container
{
margin:20px auto;
overflow:auto;
position: relative;
}

.slider-outer
{
margin-top: 40px;
height: 100%;
}

.slider-inner
{
height: 100%;
margin: 0 auto;
position:relative;
border:#666 solid 1px;
}

.slider-inner img{
display:none;
width: 100%;
}

.slider-inner img.active
{
display:inline-block;    
}

.prev,.next
{
cursor: pointer;
}

.prev{ 
position: absolute;  
top: 50%;  
left: 0;  
z-index:100;

}

.next{
position: absolute;
right: 0;
z-index:100;
top: 50%;
}

.uslugitekst
{
width:100%;
margin:20px auto;
font-size: 30px;
}

.onastekst
{
width:100%;
margin:20px auto;
font-size: 20px;
}

.social-media
{
display: flex;
justify-content: space-around;
}

@media only screen and (max-width: 900px) {
	.social-media
	{
	flex-direction: column;
	}
}

.yt
{
	margin: 30px;
	/* width: 100%; */
	/* height: 100%; */
	background-color: #d94348;
	/* float: left; */
	text-align:center;
	border-radius:30px;
	padding-bottom:30px;
}

.yt:hover
{
	background-color: #c83237;
}

.fb
{
	margin: 30px;
	/* width: 100%; */
	/* height: 50%; */
	background-color: #4668b3;
	/* float: left; */
	text-align:center;
	border-radius:30px;
	/* padding-bottom:30px; */
}

.fb:hover
{
	background-color: #3557a2;
}

.mail
{
	margin: 30px;
	/* width: 100%; */
	/* height: 50%; */
	background-color: #93c748;
	/* float: left; */
	text-align:center;
	border-radius:30px;
	/* padding-bottom:30px; */
}

.mail:hover
{
	background-color: #82b637;
}



#szer
{width: 0;height:300px;}